body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1019px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u231 {
  position:absolute;
  left:48px;
  top:53px;
  width:300px;
  height:500px;
}
#u232 {
  position:absolute;
  left:2px;
  top:242px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u233 {
  position:absolute;
  left:408px;
  top:25px;
  width:204px;
  height:114px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u234 {
  position:absolute;
  left:2px;
  top:34px;
  width:200px;
  word-wrap:break-word;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:490px;
}
#u235 {
  position:absolute;
  left:48px;
  top:53px;
  width:300px;
  height:490px;
}
#u236 {
  position:absolute;
  left:2px;
  top:237px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
}
#u237 {
  position:absolute;
  left:48px;
  top:53px;
  width:300px;
  height:500px;
}
#u238 {
  position:absolute;
  left:2px;
  top:242px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u239 {
  position:absolute;
  left:48px;
  top:53px;
  width:299px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u240 {
  position:absolute;
  left:2px;
  top:4px;
  width:295px;
  word-wrap:break-word;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:50px;
}
#u241 {
  position:absolute;
  left:246px;
  top:503px;
  width:43px;
  height:50px;
}
#u242 {
  position:absolute;
  left:2px;
  top:17px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:50px;
}
#u243 {
  position:absolute;
  left:224px;
  top:493px;
  width:22px;
  height:50px;
}
#u244 {
  position:absolute;
  left:2px;
  top:17px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:167px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#000000;
}
#u245 {
  position:absolute;
  left:58px;
  top:81px;
  width:280px;
  height:167px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#000000;
}
#u246 {
  position:absolute;
  left:2px;
  top:42px;
  width:276px;
  word-wrap:break-word;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
}
#u247 {
  position:absolute;
  left:183px;
  top:474px;
  width:31px;
  height:18px;
}
#u248 {
  position:absolute;
  left:2px;
  top:1px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:132px;
}
#u249 {
  position:absolute;
  left:137px;
  top:300px;
  width:122px;
  height:122px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u250 {
  position:absolute;
  left:2px;
  top:52px;
  width:118px;
  word-wrap:break-word;
}
#u251 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
}
#u252 {
  position:absolute;
  left:54px;
  top:61px;
  width:24px;
  height:14px;
  color:#000000;
}
#u253 {
  position:absolute;
  left:2px;
  top:-1px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:13px;
}
#u254 {
  position:absolute;
  left:318px;
  top:61px;
  width:25px;
  height:13px;
  color:#000000;
}
#u255 {
  position:absolute;
  left:2px;
  top:-2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u256 {
  position:absolute;
  left:78px;
  top:59px;
  width:21px;
  height:16px;
  color:#000000;
}
#u257 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:316px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:left;
}
#u258 {
  position:absolute;
  left:383px;
  top:155px;
  width:300px;
  height:316px;
  font-size:18px;
  text-align:left;
}
#u259 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u260 {
  position:absolute;
  left:719px;
  top:25px;
  width:204px;
  height:114px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u261 {
  position:absolute;
  left:2px;
  top:11px;
  width:200px;
  word-wrap:break-word;
}
#u262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:316px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:left;
}
#u262 {
  position:absolute;
  left:719px;
  top:149px;
  width:300px;
  height:316px;
  font-size:18px;
  text-align:left;
}
#u263 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:49px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u264 {
  position:absolute;
  left:224px;
  top:465px;
  width:89px;
  height:49px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u265 {
  position:absolute;
  left:2px;
  top:16px;
  width:85px;
  word-wrap:break-word;
}
